<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>731080758245-jlpand3eagimin0vg0ohdpaqn46nh8dv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.731080758245-jlpand3eagimin0vg0ohdpaqn46nh8dv</string>
	<key>API_KEY</key>
	<string>AIzaSyA1tju9HUWCattxEJXgBCEQAwKW5J3Dt9w</string>
	<key>GCM_SENDER_ID</key>
	<string>731080758245</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>miguelbazan.Antreu</string>
	<key>PROJECT_ID</key>
	<string>antreu-1b673</string>
	<key>STORAGE_BUCKET</key>
	<string>antreu-1b673.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:731080758245:ios:f64c97d9a7c38d6d</string>
	<key>DATABASE_URL</key>
	<string>https://antreu-1b673.firebaseio.com</string>
</dict>
</plist>